@page "/OperatorWork"
@using EMS.DB.Models
@using  EMS.DB.Repository.Interface
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject IEventStaffWorkRepository _EventStaffWorkRepository;
@inject ISnackbar Snackbar;
@inject IDialogService DialogService
@using EMS.DB.Constant
<h3>OperatorWorkPage</h3>
<AuthorizeView Roles="Admin" Context="data">
    <Authorized>
        @if (IsAdd)
        {
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Operator Work</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudItem>
                        <MudTextField @bind-Value="EventStaffWorkModel.EventId" Label="Event Id" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                        <MudTextField @bind-Value="EventStaffWorkModel.Service" Label="Service" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                        <MudTextField @bind-Value="EventStaffWorkModel.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                        @*<MudSelect T="String" @bind-Value="@EventStaffWorkModel.Status" Label="Status" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                                <MudSelectItem Value="@(Status.Workpending.ToString())" />
                                <MudSelectItem Value="Status.WorkOnProcess.ToString()" />
                                <MudSelectItem Value="Status.WorkFinish.ToString()" />
                            </MudSelect>*@
                    </MudItem>
                    <MudItem Class="d-flex justify-end">
                        <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Error" OnClick="CancelForm">
                            <FontLabel Fontweight="500"  FontColor="#FFF">Cancel</FontLabel>
                        </MudButton>
                        <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">
                            <FontLabel Fontweight="500"  FontColor="#FFF">Add</FontLabel>
                        </MudButton>
                    </MudItem>
                </MudCardContent>
            </MudCard>
        }
        else if (IsEdit)
        {
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Operator Work</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudItem>
                        <MudTextField @bind-Value="EventStaffWorkModel.EventId" Label="Event Id" Variant="Variant.Outlined" Margin="Margin.Normal" ReadOnly="true"></MudTextField>
                        <MudTextField @bind-Value="EventStaffWorkModel.Service" Label="Service" Variant="Variant.Outlined" Margin="Margin.Normal" ReadOnly="true"></MudTextField>
                        <MudTextField @bind-Value="EventStaffWorkModel.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Normal" ReadOnly="true"></MudTextField>
                        @*<MudSelect T="String" @bind-Value="@EventStaffWorkModel.Status" Label="Status" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                                <MudSelectItem Value="@(Status.Workpending.ToString())" />
                                <MudSelectItem Value="Status.WorkOnProcess.ToString()" />
                                <MudSelectItem Value="Status.WorkFinish.ToString()" />
                            </MudSelect>*@
                    </MudItem>
                    <MudItem Class="d-flex justify-end">
                        <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Error" OnClick="CancelForm">
                            <FontLabel Fontweight="500">Cancel</FontLabel>
                        </MudButton>
                        <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">
                            <FontLabel Fontweight="500"  FontColor="#FFF">Update</FontLabel>
                        </MudButton>
                    </MudItem>
                </MudCardContent>
            </MudCard>
        }
        else
        {
            <MudItem Class="d-flex justify-end">
                <MudButton Variant="Variant.Filled" Color="Color.Primary " OnClick="ShowAddForm">
                    <FontLabel Fontweight="500"  FontColor="#FFF">Add</FontLabel>
                </MudButton>
            </MudItem>
        }


        <MudTable Elevation="25" @ref="tableRef" ServerData="@(new Func<TableState, Task<TableData<EventStaffWork>>>(ServerReload))"
                  T="EventStaffWork"
                  Filter="new Func<EventStaffWork, bool>(Search)" Class="w-100" @bind-customer="EventStaffWorkList">
            <ToolBarContent>
                <MudText Typo="Typo.h6"> list</MudText>
                <MudSpacer />
                <MudTextField Value="searchString" T=" string" ValueChanged="@(s => OnSearch(s))" Immediate="true" Placeholder="Search for Event..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Action</MudTh>
                <MudTh>Event</MudTh>
                <MudTh>Venue</MudTh>
                <MudTh>From Date</MudTh>
                <MudTh>Slot</MudTh>
                <MudTh>Service</MudTh>
                <MudTh>Description</MudTh>
                <MudTh>Status</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="">
                    <MudFab @onclick="@(()=>Edit(@context.Id))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
                <MudTd DataLabel="Id">@context.Event.EventName</MudTd>
                <MudTd DataLabel="Id">@context.Event.EventVenue</MudTd>
                <MudTd DataLabel="Id">@context.Event.FromDate</MudTd>
                <MudTd DataLabel="Id">@context.Event.SlotType</MudTd>
                <MudTd DataLabel="Id">@context.Service</MudTd>
                <MudTd DataLabel="Id">@context.Description</MudTd>
                <MudTd DataLabel="Id">
                    <MudButton @onclick="@(() => viewstatus(context))" Variant="Variant.Text">@context.Status </MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5,10,20,50}" />
            </PagerContent>
        </MudTable>
    </Authorized>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">please <MudLink Href="/login">login</MudLink></MudAlert>
    </NotAuthorized>
</AuthorizeView>


@code {
    private string searchString = "";
    private List<EventStaffWork> EventStaffWorkList = new();
    private EventStaffWork EventStaffWorkModel = new();
    private MudTable<EventStaffWork> tableRef;
    private IEnumerable<EventStaffWork> pagedData;
    private DateTime? startDate;
    private DateTime? endDate;
    private bool IsEdit;
    private bool IsAdd;
    private bool IsStatus;
    private int totalItems;
    private int totalItemsOperator;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetAllOperatorWork();
        }

        return base.OnAfterRenderAsync(firstRender);
    }
    private List<EventStaffWork> GetAllOperatorWork()
    {
        EventStaffWorkList = _EventStaffWorkRepository.GetEventStaffWorkList();
        return EventStaffWorkList;
    }
    private void Save()
    {
        try
        {
            if (EventStaffWorkModel.Id < 0)
            {
                _EventStaffWorkRepository.Insert(EventStaffWorkModel);
                Snackbar.Add(" record Given SucessFull", Severity.Success);
                //GetAllOperatorWork();
                tableRef.ReloadServerData();
                EventStaffWorkModel = new EventStaffWork();
                IsAdd = false;
            }
            else
            {
                _EventStaffWorkRepository.Update(EventStaffWorkModel);
                Snackbar.Add(" record Update sucessfull", Severity.Success);
                //GetAllOperatorWork();
                tableRef.ReloadServerData();

                EventStaffWorkModel = new EventStaffWork();
                IsEdit = false;
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private bool Search(EventStaffWork EventStaffWorks)
    {
        if (string.IsNullOrEmpty(searchString) || !string.IsNullOrEmpty(searchString)
            && StringValid(EventStaffWorks.Service)
            && StringValid(EventStaffWorks.Description)
            && StringValid(EventStaffWorks.Status)
            &&
               EventStaffWorks.Service.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            || EventStaffWorks.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            || EventStaffWorks.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }

        return false;
    }
    private bool StringValid(string strValue)
    {
        if (!string.IsNullOrEmpty(strValue))
        {
            return true;
        }

        return false;
    }
    private void CancelForm()
    {
        try
        {
            IsEdit = false;
            IsAdd = false;
            EventStaffWorkModel = new EventStaffWork();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
    private void ShowAddForm()
    {
        EventStaffWorkModel = new EventStaffWork();
        IsAdd = true;
    }
    private void Edit(long id)
    {

        try
        {
            EventStaffWorkModel = EventStaffWorkList.FirstOrDefault(c => c.Id == id);
            IsEdit = true;
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task<TableData<EventStaffWork>> ServerReload(TableState state)
    {
        IEnumerable<EventStaffWork> data;
        if (startDate.HasValue && endDate.HasValue)
        {
            data = _EventStaffWorkRepository.GetListFromWork(startDate, endDate);
        }
        else
        {
            //get all data of current month
            data = _EventStaffWorkRepository.GetEventStaffWorkList();
        }

        data = data.Where(selectedModel => { return Search(selectedModel); }).ToArray();
        data = data.OrderByDirection(state.SortDirection, o => o.Event.FromDate.Value);
        totalItemsOperator = data.Count();

        pagedData = data.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<EventStaffWork>() { TotalItems = totalItemsOperator, Items = pagedData };
    }



    private void viewstatus(EventStaffWork EventStaffWorks)
    {

        var parameters = new DialogParameters();
        parameters.Add("EventStaffWorkModel", EventStaffWorks);
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Large,
            Position = DialogPosition.TopCenter,
            DisableBackdropClick = true

        };

        DialogService.Show<ViewStatus>("view Status", parameters, options);

    }

    private void OnSearch(string text)
    {
        searchString = text;
        tableRef.ReloadServerData();
    }
}
