@page "/AddUser"
@using EMS.DB.Models
@using  EMS.DB.Repository.Interface
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject IUserRepository _UserRepository;
@inject ISnackbar Snackbar;
@using EMS.DB.Constant
<h3>UserFrom</h3>

<MudCard Elevation="25">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Add User</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudItem>
            <MudTextField @bind-Value="userModel.UserName" Label="User Name" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
            <MudTextField @bind-Value="userModel.Usercontactno" Label="User contactno" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
            <MudTextField @bind-Value="userModel.Useremail" Label="User email" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
            <MudTextField @bind-Value="userModel.Useraddress" Label="User address" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
            <MudSelect @bind-Value="userModel.Userrole" Label="User role" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@(Userrole.Admin.ToString())">@Userrole.Admin.ToString()</MudSelectItem>
                <MudSelectItem Value="@(Userrole.staff.ToString())">@Userrole.staff.ToString()</MudSelectItem>
                <MudSelectItem Value="@(Userrole.supervisor.ToString())">@Userrole.supervisor.ToString()</MudSelectItem>
                <MudSelectItem Value="@(Userrole.operators.ToString())">@Userrole.operators.ToString()</MudSelectItem>
            </MudSelect>
            <MudTextField @bind-Value=" userModel.Userpassword" InputType="InputType.Password" Label="User password" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
        </MudItem>
        <MudItem Class="d-flex justify-end">
            <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Error" OnClick="CancelForm">
                <FontLable FontWeight="500">Cancel</FontLable>
            </MudButton>
            <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">
                <FontLable FontWeight="500">Add</FontLable>
            </MudButton>
        </MudItem>
    </MudCardContent>
</MudCard>

@code {
    private List<User> UserList = new();
    private User userModel = new();
    MudForm form;
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetAllUser();
        }

        return base.OnAfterRenderAsync(firstRender);
    }
    private List<User> GetAllUser()
    {
        UserList = _UserRepository.GetUserList();
        return UserList;
    }

    private void Save()
    {
        try
        {
            _UserRepository.Insert(userModel);
            Snackbar.Add(" record saved", Severity.Success);
            GetAllUser();

            userModel = new User();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
    private void CancelForm()
    {
        try
        {
            userModel = new User();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

}
