@page "/userlist"
@using EMS.DB.Constant
<h3>UserList</h3>
@if (IsAdd)
{
    <UserForm OnCancelEvent="ShowHideAddForm" />
}
else if (IsEdit)
{
    <MudCard Elevation="25">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Add User</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudItem>
                <MudTextField @bind-Value="userModel.FullName" Label="User Name" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                <MudTextField @bind-Value="userModel.ContactNo" Label="User contactno" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                <MudTextField @bind-Value="userModel.Email" Label="User email" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                <MudSelect @bind-Value="userModel.Userrole" Label="User role" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@(Userrole.Admin.ToString())">@Userrole.Admin.ToString()</MudSelectItem>
                    <MudSelectItem Value="@(Userrole.Staff.ToString())">@Userrole.Staff.ToString()</MudSelectItem>
                    <MudSelectItem Value="@(Userrole.Supervisor.ToString())">@Userrole.Supervisor.ToString()</MudSelectItem>
                    <MudSelectItem Value="@(Userrole.Operator.ToString())">@Userrole.Operator.ToString()</MudSelectItem>
                </MudSelect>
                </MudItem>
            <MudItem Class="d-flex justify-end">
                <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Error" OnClick="Cancel">
                    <FontLabel Fontweight="500" FontColor="white">Reset</FontLabel>
                </MudButton>
                <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">
                    <FontLabel Fontweight="500" FontColor="white">Add</FontLabel>
                </MudButton>
            </MudItem>
        </MudCardContent>
    </MudCard>
}
else
{
    <MudItem Class="d-flex justify-end">
        <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowHideAddForm">
            <FontLabel Fontweight="500" FontColor="white">Add</FontLabel>
        </MudButton>
    </MudItem>
    <MudTable Items="@GetAllUsers()" Hover="true" Breakpoint="Breakpoint.Sm">
        <ToolBarContent>
            <MudText Typo="Typo.h6">User list</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Immediate="true" Placeholder="Search for Users" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Role</MudTh>
            <MudTh>ContactNo</MudTh>
            <MudTh>Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.FullName</MudTd>
            <MudTd>@context.Email</MudTd>
            <MudTd>@context.Userrole</MudTd>
            <MudTd>@context.ContactNo</MudTd>
            <MudTd DataLabel="">
                <MudFab @onclick="@(() => Edit(@context.Id))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 5,10,20,50}" />
        </PagerContent>
    </MudTable>
} 