@page "/ServiceList"
@using EMS.DB.Models
@using  EMS.DB.Repository.Interface
@using System.Globalization
@using System.Reflection
@using EMS.DB.Repository
@using System.Collections.Generic;
@using EMS.DB.Constant
@inject ISnackbar Snackbar;
@inject IEventCategoryRepository _EventCategoryRepository;
@inject ICategoryServiceRepository _CategoryServiceRepository;
<h3>Service List</h3>
<MudCard Elevation="25">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Add / Edit Service </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudItem>
            @*<MudSelect @bind-Value="ServiceModel.EventCategoryId" Label="select categorys" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">

                @foreach (var eventCategory in EventCategoryList)
                {
                    <MudSelectItem Value="@eventCategory.Id">@eventCategory.CategoryName</MudSelectItem>

                }
            </MudSelect>*@
                <MudTextField @bind-Value="ServiceModel.ServiceName" Label="Service Name" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
        </MudItem>

        <MudItem Class="d-flex justify-end">
            <MudButton Class="mx-1" Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">
                <FontLable FontWeight="500">Add</FontLable>
            </MudButton>
        </MudItem>
    </MudCardContent>
</MudCard>
<MudTable Elevation="25" Items="GetAll()" Filter="new Func<CategoryService, bool>(Search)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Service list</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Immediate="true" Placeholder="Search for Service..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Service Name</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Service Name">@context.ServiceName</MudTd>
        <MudTd DataLabel="">
            <MudFab @onclick="@(()=>Edit(@context.Id))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
            <MudFab @onclick="@(()=>Delete(@context.Id))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 5,10,20,50}" />
    </PagerContent>
</MudTable>

@code {

    private CategoryService ServiceModel = new();
    private List<CategoryService> ServiceList = new();
    private List<EventCategory> EventCategoryList = new();


    private string searchString = "";

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetEventCategoryList();
            GetAll();

        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private List<CategoryService> GetAll()
    {
        ServiceList = _CategoryServiceRepository.GetList();
        return ServiceList;
    }

    private void GetEventCategoryList()
    {
        EventCategoryList = _EventCategoryRepository.GetList();
    }


    private void Save()
    {
        if (ServiceModel.Id > 0)
        {

            _CategoryServiceRepository.Update(ServiceModel);
            Snackbar.Add("Record updated", Severity.Success);
        }
        else
        {
            _CategoryServiceRepository.Insert(ServiceModel);
            Snackbar.Add("Record saved", Severity.Success);
        }
        GetAll();
        ServiceModel = new CategoryService();
    }


    private void Edit(long id)
    {

        try
        {

            ServiceModel = ServiceList.FirstOrDefault(c => c.Id == id);
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }


    private void Delete(long id)
    {
        try
        {
            _CategoryServiceRepository.Delete(id);
            Snackbar.Add("Category Data Deleted.", Severity.Success);
            GetAll();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private bool Search(CategoryService services)
    {
        if (StringValid(services.ServiceName) && services.ServiceName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }

        return false;
    }

    private bool StringValid(string strValue)
    {
        if (!string.IsNullOrEmpty(strValue))
        {
            return true;
        }

        return false;
    }


}

